.error {
  color: red;
  margin: 1rem 0;
}

.center-text {
  text-align: center;
}

.button-center {
  display: block;
  margin: auto;
}

.button-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
