<div *ngIf="loading()" class="center-text">Loading trials...</div>
<div *ngIf="error()" class="error center-text">
  {{ error() }}
</div>
<div *ngIf="!loading() && trials().length === 0" class="center-text">
  No trials found.
</div>

<button
  mat-raised-button
  color="accent"
  (click)="addToFavorites()"
  [disabled]="selected().size === 0"
  class="button-center"
>
  Add to Favorites
</button>

<p class="center-text" style="font-weight: bold">
  ⏳ Next update in: {{ countdown() }}s
</p>

<app-trial-card
  *ngFor="let trial of trials()"
  [trial]="trial"
  [isSelected]="
    selected().has(trial.protocolSection?.identificationModule?.nctId || '')
  "
  (selectionChange)="toggleSelection($event)"
></app-trial-card>
