<mat-card class="trial-card">
  <mat-card-title style="display: flex; align-items: center; gap: 0.5rem">
    <mat-checkbox
      [checked]="isSelected"
      (change)="toggleSelection()"
    ></mat-checkbox>
    {{
      trial.protocolSection?.identificationModule?.briefTitle ||
        "No title available"
    }}
  </mat-card-title>

  <mat-card-content>
    <p>
      <strong>NCT ID:</strong>
      {{ trial.protocolSection?.identificationModule?.nctId }}
    </p>
    <p>
      <strong>Status:</strong>
      {{ trial.protocolSection?.statusModule?.overallStatus }}
    </p>
    <p>
      <strong>Conditions:</strong>
      {{
        trial.protocolSection?.conditionsModule?.conditions?.join(", ") || "N/A"
      }}
    </p>
    <p>
      <strong>Phase:</strong>
      {{ trial.protocolSection?.designModule?.phases?.join(", ") || "N/A" }}
    </p>
    <p>
      <strong>Sponsor:</strong>
      {{
        trial.protocolSection?.sponsorCollaboratorsModule?.leadSponsor?.name ||
          "N/A"
      }}
    </p>
    <p>
      <strong>Start Date:</strong>
      {{ trial.protocolSection?.statusModule?.startDateStruct?.date || "N/A" }}
    </p>
  </mat-card-content>
</mat-card>
