<h2 class="center-text">Your Favorite Trials</h2>

<div *ngIf="favorites.length === 0" class="center-text">
  <p>No favorites selected yet.</p>
</div>

<button
  mat-raised-button
  color="warn"
  (click)="removeFromFavorites()"
  [disabled]="selected().size === 0"
  class="button-center"
>
  Remove Selected Favorites
</button>

<app-trial-card
  *ngFor="let trial of favorites"
  [trial]="trial"
  [isSelected]="
    selected().has(trial.protocolSection?.identificationModule?.nctId || '')
  "
  (selectionChange)="toggleSelection($event)"
></app-trial-card>
